@import '../../global.scss';

.Button {
  min-width: fit-content;
  width: auto;
  max-width: 120px;
  text-align: center;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 13px;
  background-color: $mainColor;
  color: $lightColor;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: inline-flex;

  &:hover {
    background-color: white;
    color: $mainColor;
    outline: 1px solid $mainColor;
  }

  &.googleSignIn {
    background-color: #4285f4;
    color: $lightColor;

    &:hover {
      background-color: #347ae8;
      outline: 1px solid #347ae8;
    }
  }
}